<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <title><%= title %></title>
</head>
<body class="container">
<nav class="navbar bg-dark ">
    <a class="btn btn-outline-success ml-auto" href="/logout">Log Out</a>
    <!-- ml-auto để căn phải -->
</nav>
<div class="jumbotron">
  <h1 class="display-4 ">Hello Express!</h1>
</div>
</body>